[class^="-i_"], [class*=" -i_"] {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(sprite.svg);
}
.-i_ok {
  width: 24px;
  height: 24px;
  background-position: 0 0;
}
.-i_cancel {
  width: 24px;
  height: 24px;
  background-position: -25px 0;
}
.-i_insert {
  width: 24px;
  height: 24px;
  background-position: -50px 0;
}
.-i_save {
  width: 24px;
  height: 24px;
  background-position: -75px 0;
}
.-i_edit {
  width: 24px;
  height: 24px;
  background-position: -100px 0;
}
.-i_delete {
  width: 24px;
  height: 24px;
  background-position: -125px 0;
}
.-i_find {
  width: 24px;
  height: 24px;
  background-position: -150px 0;
}
.-i_refresh {
  width: 24px;
  height: 24px;
  background-position: -175px 0;
}
.-i_synchronize {
  width: 24px;
  height: 24px;
  background-position: -200px 0;
}
.-i_filter {
  width: 24px;
  height: 24px;
  background-position: -225px 0;
}
.-i_undo {
  width: 24px;
  height: 24px;
  background-position: -250px 0;
}
.-i_share {
  width: 24px;
  height: 24px;
  background-position: -275px 0;
}
.-i_share_right {
  width: 24px;
  height: 24px;
  background-position: -300px 0;
}
.-i_share_left {
  width: 24px;
  height: 24px;
  background-position: -325px 0;
}
.-i_share_left-right {
  width: 24px;
  height: 24px;
  background-position: -350px 0;
}
.-i_success {
  width: 24px;
  height: 24px;
  background-position: -375px 0;
}
.-i_error {
  width: 24px;
  height: 24px;
  background-position: -400px 0;
}
.-i_information {
  width: 24px;
  height: 24px;
  background-position: -425px 0;
}
.-i_warning {
  width: 24px;
  height: 24px;
  background-position: -450px 0;
}
.-i_question {
  width: 24px;
  height: 24px;
  background-position: -475px 0;
}
.-i_checkbox {
  width: 24px;
  height: 24px;
  background-position: -500px 0;
}
.-i_checkbox_invert {
  width: 24px;
  height: 24px;
  background-position: -525px 0;
}
.-i_checkbox_select {
  width: 24px;
  height: 24px;
  background-position: -550px 0;
}
.-i_option {
  width: 24px;
  height: 24px;
  background-position: -575px 0;
}
.-i_option_select {
  width: 24px;
  height: 24px;
  background-position: 0 -25px;
}
.-i_on_off {
  width: 24px;
  height: 24px;
  background-position: -25px -25px;
}
.-i_download {
  width: 24px;
  height: 24px;
  background-position: -50px -25px;
}
.-i_upload {
  width: 24px;
  height: 24px;
  background-position: -75px -25px;
}
.-i_cloud_off {
  width: 24px;
  height: 24px;
  background-position: -100px -25px;
}
.-i_in {
  width: 24px;
  height: 24px;
  background-position: -125px -25px;
}
.-i_out {
  width: 24px;
  height: 24px;
  background-position: -150px -25px;
}
.-i_user {
  width: 24px;
  height: 24px;
  background-position: -175px -25px;
}
.-i_users {
  width: 24px;
  height: 24px;
  background-position: -200px -25px;
}
.-i_user_tie {
  width: 24px;
  height: 24px;
  background-position: -225px -25px;
}
.-i_user_hat {
  width: 24px;
  height: 24px;
  background-position: -250px -25px;
}
.-i_user_id {
  width: 24px;
  height: 24px;
  background-position: -275px -25px;
}
.-i_arrow-first-circle {
  width: 24px;
  height: 24px;
  background-position: -300px -25px;
}
.-i_arrow-previous-circle {
  width: 24px;
  height: 24px;
  background-position: -325px -25px;
}
.-i_arrow-next-circle {
  width: 24px;
  height: 24px;
  background-position: -350px -25px;
}
.-i_arrow-last-circle {
  width: 24px;
  height: 24px;
  background-position: -375px -25px;
}
.-i_arrow-up-circle {
  width: 24px;
  height: 24px;
  background-position: -400px -25px;
}
.-i_arrow-top-circle {
  width: 24px;
  height: 24px;
  background-position: -425px -25px;
}
.-i_arrow-down-circle {
  width: 24px;
  height: 24px;
  background-position: -450px -25px;
}
.-i_arrow-bottom-circle {
  width: 24px;
  height: 24px;
  background-position: -475px -25px;
}
.-i_arrow-left-right {
  width: 24px;
  height: 24px;
  background-position: -500px -25px;
}
.-i_arrow-first {
  width: 24px;
  height: 24px;
  background-position: -525px -25px;
}
.-i_arrow-previous {
  width: 24px;
  height: 24px;
  background-position: -550px -25px;
}
.-i_arrow-next {
  width: 24px;
  height: 24px;
  background-position: -575px -25px;
}
.-i_arrow-last {
  width: 24px;
  height: 24px;
  background-position: 0 -50px;
}
.-i_arrow-top {
  width: 24px;
  height: 24px;
  background-position: -25px -50px;
}
.-i_arrow-up {
  width: 24px;
  height: 24px;
  background-position: -50px -50px;
}
.-i_arrow-down {
  width: 24px;
  height: 24px;
  background-position: -75px -50px;
}
.-i_arrow-bottom {
  width: 24px;
  height: 24px;
  background-position: -100px -50px;
}
.-i_sort {
  width: 24px;
  height: 24px;
  background-position: -125px -50px;
}
.-i_sort_asc {
  width: 24px;
  height: 24px;
  background-position: -150px -50px;
}
.-i_sort_des {
  width: 24px;
  height: 24px;
  background-position: -175px -50px;
}
.-i_media_play {
  width: 24px;
  height: 24px;
  background-position: -200px -50px;
}
.-i_media_stop {
  width: 24px;
  height: 24px;
  background-position: -225px -50px;
}
.-i_media_pause {
  width: 24px;
  height: 24px;
  background-position: -250px -50px;
}
.-i_sun {
  width: 24px;
  height: 24px;
  background-position: -275px -50px;
}
.-i_moon {
  width: 24px;
  height: 24px;
  background-position: -300px -50px;
}
.-i_earth {
  width: 24px;
  height: 24px;
  background-position: -325px -50px;
}
.-i_compass {
  width: 24px;
  height: 24px;
  background-position: -350px -50px;
}
.-i_map {
  width: 24px;
  height: 24px;
  background-position: -375px -50px;
}
.-i_location {
  width: 24px;
  height: 24px;
  background-position: -400px -50px;
}
.-i_unlock {
  width: 24px;
  height: 24px;
  background-position: -425px -50px;
}
.-i_lock {
  width: 24px;
  height: 24px;
  background-position: -450px -50px;
}
.-i_unlink {
  width: 24px;
  height: 24px;
  background-position: -475px -50px;
}
.-i_link {
  width: 24px;
  height: 24px;
  background-position: -500px -50px;
}
.-i_zoom_in {
  width: 24px;
  height: 24px;
  background-position: -525px -50px;
}
.-i_zoom_out {
  width: 24px;
  height: 24px;
  background-position: -550px -50px;
}
.-i_zoom_money {
  width: 24px;
  height: 24px;
  background-position: -575px -50px;
}
.-i_home {
  width: 24px;
  height: 24px;
  background-position: 0 -75px;
}
.-i_office_building {
  width: 24px;
  height: 24px;
  background-position: -25px -75px;
}
.-i_factory {
  width: 24px;
  height: 24px;
  background-position: -50px -75px;
}
.-i_parthenon {
  width: 24px;
  height: 24px;
  background-position: -75px -75px;
}
.-i_store {
  width: 24px;
  height: 24px;
  background-position: -100px -75px;
}
.-i_hospital {
  width: 24px;
  height: 24px;
  background-position: -125px -75px;
}
.-i_newspaper {
  width: 24px;
  height: 24px;
  background-position: -150px -75px;
}
.-i_portofolio {
  width: 24px;
  height: 24px;
  background-position: -175px -75px;
}
.-i_calendar {
  width: 24px;
  height: 24px;
  background-position: -200px -75px;
}
.-i_todo {
  width: 24px;
  height: 24px;
  background-position: -225px -75px;
}
.-i_paper {
  width: 24px;
  height: 24px;
  background-position: -250px -75px;
}
.-i_papers {
  width: 24px;
  height: 24px;
  background-position: -275px -75px;
}
.-i_paper_text {
  width: 24px;
  height: 24px;
  background-position: -300px -75px;
}
.-i_paper_printer {
  width: 24px;
  height: 24px;
  background-position: -325px -75px;
}
.-i_paper_ribbon {
  width: 24px;
  height: 24px;
  background-position: -350px -75px;
}
.-i_paper_organizer {
  width: 24px;
  height: 24px;
  background-position: -375px -75px;
}
.-i_file_cabinet {
  width: 24px;
  height: 24px;
  background-position: -400px -75px;
}
.-i_stamp {
  width: 24px;
  height: 24px;
  background-position: -425px -75px;
}
.-i_paper_clip {
  width: 24px;
  height: 24px;
  background-position: -450px -75px;
}
.-i_stapler {
  width: 24px;
  height: 24px;
  background-position: -475px -75px;
}
.-i_scissors {
  width: 24px;
  height: 24px;
  background-position: -500px -75px;
}
.-i_book {
  width: 24px;
  height: 24px;
  background-position: -525px -75px;
}
.-i_books {
  width: 24px;
  height: 24px;
  background-position: -550px -75px;
}
.-i_graduation_cap {
  width: 24px;
  height: 24px;
  background-position: -575px -75px;
}
.-i_message {
  width: 24px;
  height: 24px;
  background-position: 0 -100px;
}
.-i_messages {
  width: 24px;
  height: 24px;
  background-position: -25px -100px;
}
.-i_mail {
  width: 24px;
  height: 24px;
  background-position: -50px -100px;
}
.-i_at {
  width: 24px;
  height: 24px;
  background-position: -75px -100px;
}
.-i_eye_off {
  width: 24px;
  height: 24px;
  background-position: -100px -100px;
}
.-i_eye {
  width: 24px;
  height: 24px;
  background-position: -125px -100px;
}
.-i_heart {
  width: 24px;
  height: 24px;
  background-position: -150px -100px;
}
.-i_cardio {
  width: 24px;
  height: 24px;
  background-position: -175px -100px;
}
.-i_hand {
  width: 24px;
  height: 24px;
  background-position: -200px -100px;
}
.-i_delta {
  width: 24px;
  height: 24px;
  background-position: -225px -100px;
}
.-i_account_activity {
  width: 24px;
  height: 24px;
  background-position: -250px -100px;
}
.-i_calculator {
  width: 24px;
  height: 24px;
  background-position: -275px -100px;
}
.-i_chart_pizza {
  width: 24px;
  height: 24px;
  background-position: -300px -100px;
}
.-i_chart_line {
  width: 24px;
  height: 24px;
  background-position: -325px -100px;
}
.-i_chart_bar {
  width: 24px;
  height: 24px;
  background-position: -350px -100px;
}
.-i_chart_cashflow {
  width: 24px;
  height: 24px;
  background-position: -375px -100px;
}
.-i_chart_lines {
  width: 24px;
  height: 24px;
  background-position: -400px -100px;
}
.-i_currency_yen {
  width: 24px;
  height: 24px;
  background-position: -425px -100px;
}
.-i_currency_euro {
  width: 24px;
  height: 24px;
  background-position: -450px -100px;
}
.-i_currency_pound {
  width: 24px;
  height: 24px;
  background-position: -475px -100px;
}
.-i_coin {
  width: 24px;
  height: 24px;
  background-position: -500px -100px;
}
.-i_coins {
  width: 24px;
  height: 24px;
  background-position: -525px -100px;
}
.-i_bill {
  width: 24px;
  height: 24px;
  background-position: -550px -100px;
}
.-i_bills {
  width: 24px;
  height: 24px;
  background-position: -575px -100px;
}
.-i_percent {
  width: 24px;
  height: 24px;
  background-position: 0 -125px;
}
.-i_safe {
  width: 24px;
  height: 24px;
  background-position: -25px -125px;
}
.-i_money_saving {
  width: 24px;
  height: 24px;
  background-position: -50px -125px;
}
.-i_wallet {
  width: 24px;
  height: 24px;
  background-position: -75px -125px;
}
.-i_creditcard {
  width: 24px;
  height: 24px;
  background-position: -100px -125px;
}
.-i_money_bag {
  width: 24px;
  height: 24px;
  background-position: -125px -125px;
}
.-i_investiment {
  width: 24px;
  height: 24px;
  background-position: -150px -125px;
}
.-i_printer {
  width: 24px;
  height: 24px;
  background-position: -175px -125px;
}
.-i_folder {
  width: 24px;
  height: 24px;
  background-position: -200px -125px;
}
.-i_bug {
  width: 24px;
  height: 24px;
  background-position: -225px -125px;
}
.-i_wifi_off {
  width: 24px;
  height: 24px;
  background-position: -250px -125px;
}
.-i_wifi {
  width: 24px;
  height: 24px;
  background-position: -275px -125px;
}
.-i_database {
  width: 24px;
  height: 24px;
  background-position: -300px -125px;
}
.-i_servers {
  width: 24px;
  height: 24px;
  background-position: -325px -125px;
}
.-i_mobile {
  width: 24px;
  height: 24px;
  background-position: -350px -125px;
}
.-i_workstation {
  width: 24px;
  height: 24px;
  background-position: -375px -125px;
}
.-i_chip {
  width: 24px;
  height: 24px;
  background-position: -400px -125px;
}
.-i_multiplataform {
  width: 24px;
  height: 24px;
  background-position: -425px -125px;
}
.-i_menu {
  width: 24px;
  height: 24px;
  background-position: -450px -125px;
}
.-i_more {
  width: 24px;
  height: 24px;
  background-position: -475px -125px;
}
.-i_opensource {
  width: 24px;
  height: 24px;
  background-position: -500px -125px;
}
.-i_backup {
  width: 24px;
  height: 24px;
  background-position: -525px -125px;
}
.-i_facebook {
  width: 24px;
  height: 24px;
  background-position: -550px -125px;
}
.-i_twitter {
  width: 24px;
  height: 24px;
  background-position: -575px -125px;
}
.-i_googleplus {
  width: 24px;
  height: 24px;
  background-position: 0 -150px;
}
.-i_instagram {
  width: 24px;
  height: 24px;
  background-position: -25px -150px;
}
.-i_linkedin {
  width: 24px;
  height: 24px;
  background-position: -50px -150px;
}
.-i_clock {
  width: 24px;
  height: 24px;
  background-position: -75px -150px;
}
.-i_clock_alarm {
  width: 24px;
  height: 24px;
  background-position: -100px -150px;
}
.-i_clock_timer {
  width: 24px;
  height: 24px;
  background-position: -125px -150px;
}
.-i_clock_schedule {
  width: 24px;
  height: 24px;
  background-position: -150px -150px;
}
.-i_runnig_timer {
  width: 24px;
  height: 24px;
  background-position: -175px -150px;
}
.-i_bike {
  width: 24px;
  height: 24px;
  background-position: -200px -150px;
}
.-i_car {
  width: 24px;
  height: 24px;
  background-position: -225px -150px;
}
.-i_taxi {
  width: 24px;
  height: 24px;
  background-position: -250px -150px;
}
.-i_train {
  width: 24px;
  height: 24px;
  background-position: -275px -150px;
}
.-i_bus {
  width: 24px;
  height: 24px;
  background-position: -300px -150px;
}
.-i_airplane {
  width: 24px;
  height: 24px;
  background-position: -325px -150px;
}
.-i_copter {
  width: 24px;
  height: 24px;
  background-position: -350px -150px;
}
.-i_ship {
  width: 24px;
  height: 24px;
  background-position: -375px -150px;
}
.-i_truck {
  width: 24px;
  height: 24px;
  background-position: -400px -150px;
}
.-i_traffic_light {
  width: 24px;
  height: 24px;
  background-position: -425px -150px;
}
.-i_traffic_cone {
  width: 24px;
  height: 24px;
  background-position: -450px -150px;
}
.-i_gas_pump {
  width: 24px;
  height: 24px;
  background-position: -475px -150px;
}
.-i_wheel {
  width: 24px;
  height: 24px;
  background-position: -500px -150px;
}
.-i_steering_wheel {
  width: 24px;
  height: 24px;
  background-position: -525px -150px;
}
.-i_control_panel {
  width: 24px;
  height: 24px;
  background-position: -550px -150px;
}
.-i_sign_prohibid {
  width: 24px;
  height: 24px;
  background-position: -575px -150px;
}
.-i_sign_recycle {
  width: 24px;
  height: 24px;
  background-position: 0 -175px;
}
.-i_sign_radioactive {
  width: 24px;
  height: 24px;
  background-position: -25px -175px;
}
.-i_policeman {
  width: 24px;
  height: 24px;
  background-position: -50px -175px;
}
.-i_sign_accessibility {
  width: 24px;
  height: 24px;
  background-position: -75px -175px;
}
.-i_workman {
  width: 24px;
  height: 24px;
  background-position: -100px -175px;
}
.-i_callcenter {
  width: 24px;
  height: 24px;
  background-position: -125px -175px;
}
.-i_cloud {
  width: 24px;
  height: 24px;
  background-position: -150px -175px;
}
.-i_cloud_rain {
  width: 24px;
  height: 24px;
  background-position: -175px -175px;
}
.-i_cloud_lightning {
  width: 24px;
  height: 24px;
  background-position: -200px -175px;
}
.-i_wind {
  width: 24px;
  height: 24px;
  background-position: -225px -175px;
}
.-i_compasses {
  width: 24px;
  height: 24px;
  background-position: -250px -175px;
}
.-i_shovel {
  width: 24px;
  height: 24px;
  background-position: -275px -175px;
}
.-i_hammer {
  width: 24px;
  height: 24px;
  background-position: -300px -175px;
}
.-i_wrench {
  width: 24px;
  height: 24px;
  background-position: -325px -175px;
}
.-i_magnet {
  width: 24px;
  height: 24px;
  background-position: -350px -175px;
}
.-i_lamp {
  width: 24px;
  height: 24px;
  background-position: -375px -175px;
}
.-i_key {
  width: 24px;
  height: 24px;
  background-position: -400px -175px;
}
.-i_keyhole {
  width: 24px;
  height: 24px;
  background-position: -425px -175px;
}
.-i_glasses {
  width: 24px;
  height: 24px;
  background-position: -450px -175px;
}
.-i_umbrella {
  width: 24px;
  height: 24px;
  background-position: -475px -175px;
}
.-i_paper_plane {
  width: 24px;
  height: 24px;
  background-position: -500px -175px;
}
.-i_bomb {
  width: 24px;
  height: 24px;
  background-position: -525px -175px;
}
.-i_hourglass {
  width: 24px;
  height: 24px;
  background-position: -550px -175px;
}
.-i_target {
  width: 24px;
  height: 24px;
  background-position: -575px -175px;
}
.-i_phone {
  width: 24px;
  height: 24px;
  background-position: 0 -200px;
}
.-i_auction_hammer {
  width: 24px;
  height: 24px;
  background-position: -25px -200px;
}
.-i_balance {
  width: 24px;
  height: 24px;
  background-position: -50px -200px;
}
.-i_prize_ribbon {
  width: 24px;
  height: 24px;
  background-position: -75px -200px;
}
.-i_place123 {
  width: 24px;
  height: 24px;
  background-position: -100px -200px;
}
.-i_medal {
  width: 24px;
  height: 24px;
  background-position: -125px -200px;
}
.-i_balloon {
  width: 24px;
  height: 24px;
  background-position: -150px -200px;
}
.-i_lifebelt {
  width: 24px;
  height: 24px;
  background-position: -175px -200px;
}
.-i_anchor {
  width: 24px;
  height: 24px;
  background-position: -200px -200px;
}
.-i_brief_case {
  width: 24px;
  height: 24px;
  background-position: -225px -200px;
}
.-i_bell_off {
  width: 24px;
  height: 24px;
  background-position: -250px -200px;
}
.-i_bell {
  width: 24px;
  height: 24px;
  background-position: -275px -200px;
}
.-i_thermometer {
  width: 24px;
  height: 24px;
  background-position: -300px -200px;
}
.-i_stethoscope {
  width: 24px;
  height: 24px;
  background-position: -325px -200px;
}
.-i_dna {
  width: 24px;
  height: 24px;
  background-position: -350px -200px;
}
.-i_gear {
  width: 24px;
  height: 24px;
  background-position: -375px -200px;
}
.-i_gears {
  width: 24px;
  height: 24px;
  background-position: -400px -200px;
}
.-i_lion {
  width: 24px;
  height: 24px;
  background-position: -425px -200px;
}
.-i_music_note {
  width: 24px;
  height: 24px;
  background-position: -450px -200px;
}
.-i_photo_camera {
  width: 24px;
  height: 24px;
  background-position: -475px -200px;
}
.-i_video_camera {
  width: 24px;
  height: 24px;
  background-position: -500px -200px;
}
.-i_microphone {
  width: 24px;
  height: 24px;
  background-position: -525px -200px;
}
.-i_microphone_off {
  width: 24px;
  height: 24px;
  background-position: -550px -200px;
}
.-i_picture {
  width: 24px;
  height: 24px;
  background-position: -575px -200px;
}
.-i_slider {
  width: 24px;
  height: 24px;
  background-position: 0 -225px;
}
.-i_speaker {
  width: 24px;
  height: 24px;
  background-position: -25px -225px;
}
.-i_speaker_off {
  width: 24px;
  height: 24px;
  background-position: -50px -225px;
}
.-i_headphones {
  width: 24px;
  height: 24px;
  background-position: -75px -225px;
}
.-i_flag_finish {
  width: 24px;
  height: 24px;
  background-position: -100px -225px;
}
.-i_flag {
  width: 24px;
  height: 24px;
  background-position: -125px -225px;
}
.-i_box_paper {
  width: 24px;
  height: 24px;
  background-position: -150px -225px;
}
.-i_box_gift {
  width: 24px;
  height: 24px;
  background-position: -175px -225px;
}
.-i_box_3d {
  width: 24px;
  height: 24px;
  background-position: -200px -225px;
}
.-i_box_treasure {
  width: 24px;
  height: 24px;
  background-position: -225px -225px;
}
.-i_star5 {
  width: 24px;
  height: 24px;
  background-position: -250px -225px;
}
.-i_shopping_cart {
  width: 24px;
  height: 24px;
  background-position: -275px -225px;
}
.-i_tag {
  width: 24px;
  height: 24px;
  background-position: -300px -225px;
}
.-i_tag_price {
  width: 24px;
  height: 24px;
  background-position: -325px -225px;
}
.-i_bag {
  width: 24px;
  height: 24px;
  background-position: -350px -225px;
}
.-i_receipt {
  width: 24px;
  height: 24px;
  background-position: -375px -225px;
}
.-i_barcode {
  width: 24px;
  height: 24px;
  background-position: -400px -225px;
}
.-i_qr {
  width: 24px;
  height: 24px;
  background-position: -425px -225px;
}
.-i_ifeed {
  width: 89px;
  height: 24px;
  background-position: -450px -225px;
}
.-i_investira_h {
  width: 126px;
  height: 24px;
  background-position: 0 -250px;
}
.-i_investira_h_biz {
  width: 156px;
  height: 24px;
  background-position: -150px -250px;
}
.-i_investira_h_pro {
  width: 154px;
  height: 24px;
  background-position: -325px -250px;
}
.-i_Investira_h_vc {
  width: 152px;
  height: 24px;
  background-position: 0 -275px;
}
.-i_investira_icon {
  width: 24px;
  height: 24px;
  background-position: -175px -275px;
}
.-i_investira_v {
  width: 37px;
  height: 24px;
  background-position: -200px -275px;
}

